APP/AppControlCMMI/AppControlCMMI/Service References/ControWS/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioKSDP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioKSDP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsuarioSVN">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contraseña" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RutaLocal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTicket" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioSVN" nillable="true" type="tns:UsuarioSVN" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="UsuarioFirmado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEmpleado" type="xs:int" />
      <xs:element minOccurs="0" name="IdEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="IdPuesto" type="xs:int" />
      <xs:element minOccurs="0" name="Iniciales" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioFirmado" nillable="true" type="tns:UsuarioFirmado" />
  <xs:complexType name="ArrayOfMenu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Menu" nillable="true" type="tns:Menu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenu" nillable="true" type="tns:ArrayOfMenu" />
  <xs:complexType name="Menu">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ordernar" type="xs:int" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idMenu" type="xs:int" />
      <xs:element minOccurs="0" name="idMenuPadre" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Menu" nillable="true" type="tns:Menu" />
  <xs:complexType name="Ticket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identificador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TicketKSDP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idEmpresa" type="xs:int" />
      <xs:element minOccurs="0" name="idEnlace" type="xs:int" />
      <xs:element minOccurs="0" name="idEtapa" type="xs:int" />
      <xs:element minOccurs="0" name="idLider" type="xs:int" />
      <xs:element minOccurs="0" name="idPMO" type="xs:int" />
      <xs:element minOccurs="0" name="idSistema" type="xs:int" />
      <xs:element minOccurs="0" name="idSubEtapa" type="xs:int" />
      <xs:element minOccurs="0" name="idTicket" type="xs:int" />
      <xs:element minOccurs="0" name="idTipo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ticket" nillable="true" type="tns:Ticket" />
  <xs:complexType name="ArrayOfListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListItem" nillable="true" type="tns:ListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListItem" nillable="true" type="tns:ArrayOfListItem" />
  <xs:complexType name="ListItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="item" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListItem" nillable="true" type="tns:ListItem" />
  <xs:complexType name="ArrayOfDataRepTicket">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataRepTicket" nillable="true" type="tns:DataRepTicket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataRepTicket" nillable="true" type="tns:ArrayOfDataRepTicket" />
  <xs:complexType name="DataRepTicket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identificador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sistema" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idTicket" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataRepTicket" nillable="true" type="tns:DataRepTicket" />
</xs:schema>